.thumbnail {
    position: relative;
}

.navbar{
    font-weight: bold;
}


 /* .jumbotron:hover {
   background-color: dimgrey;
    }*/
    .snl {
      color: white;
      font-size:36px;
    }
    .snl:hover {
      text-decoration: none;
      color: black;
    }

<<<<<<< HEAD
 /*   ul > li > a {
=======
/*
    ul > li > a {
>>>>>>> a44b3545e4d9edde9ac58dcc6eb1e7c1325368f5
      font-weight: bold;
    }
*/

    .col-md-4 > a {  font-weight: bold; 
      text-decoration: none;

    }*/

/*
.navbar ul li:first-child { float: left; }

.navbar ul li { 
  list-style:none;
  margin:10px;
  float: right; 
}
*/

    
